<!DOCTYPE html>
<html>
  <head>
    <title>ApiE1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="jumbotron">
     <h1>hola</h1>
     <h2>golh</h2>
   </div>
  </body>
</html>
